@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    height: 100%;
    margin: 0;
    font-family: monospace, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    margin: 0;
    background-color: lightblue;
    font-family: monospace, sans-serif;
    overflow-x: hidden;
}

.calculator-container {
    background-color: black;
    padding: 20px;
    border: 2px solid white;
    border-radius: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.display-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: lightseagreen;
    padding: 15px 16px;
    margin-bottom: 10px;
    border: 2px solid lightgray;
    border-radius: 5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    flex-grow: 1;
}

.solution {
    width: 100%;
    text-align: right;
    font-size: 40px;
    line-height: 1.2;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: background-color 0.3s ease;
}

.row {
    display: flex;
    justify-content: space-between;
}

#zero {
    flex-grow: 2;
}

button {
    width: 96px;
    height: 77px;
    margin: 2px;
    border: 0;
    border-radius: 2px;
    font-size: 26px;
    font-family: monospace;
    transition: background-color 0.3s ease;
}

button.pressed {
    background-color: darkgrey;
}

button.active {
    background-color: darkorange;
}

.grey {
    background-color: grey;
}

.orange {
    background-color: orange;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}
